*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8)), url(../images/IN-en-20250421-TRIFECTA-perspective_dc5bcfdf-88a5-4972-8ffe-b28ff942f76e_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.logo{
    display: inline-block;
    width: 120px;
}
.logo img{
    width: 100%;
}
.addBtn{
    text-align: right;
}
.nfxBtn-primary{
    color: white;
    background-color: rgb(229, 9, 20);
}
.backDrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: none;
    animation: fadeIn 0.6s ease-in-out;
}
.backDrop.show{
    display: block;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.movieModal{
    position: fixed;
    top: 15%;
    left : 30%;
    width: 450px;
   display: none;
   animation: fadeIn 0.6s ease-in-out;
}
.movieModal.show{
    display: block;
}
.modalClose{
    cursor: pointer;
}
.movieModal .card {
    background-color: transparent;
    color: white;
}
.movieModal .card .form-group .form-control{
    background-color: transparent;
    color: white;
}
.movieModal .card select option{
    background-color: transparent;
    color: white;
}
.movieCard{
    height: 300px;
    position: relative;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    border: 2px solid black;
    border-radius: 3px;
}
.movieCard img{
    height: 100%;
    width: 100%;
}
.ratingTitle{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
}
.movieInfo{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    display: none;
    animation: fadeIn 0.6s linear;
}
.movieCard:hover .movieInfo{
  display: block;
}
.action{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    display: none;
    animation: fadeIn 0.6s ease-in;
}
.movieCard:hover .action{
    display: flex;

}